In [1]:
import pandas as pd
import json
import csv
import os
import numpy as np
import torch
import openai
import re
from collections import defaultdict
from tqdm import tqdm

In [2]:
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
from transformers import BertForTokenClassification,BertTokenizerFast

In [ ]:
from utils import convert_to_iob

In [4]:
seed_nr = 42
generator = torch.Generator().manual_seed(seed_nr)

In [5]:
tokenizer = BertTokenizerFast.from_pretrained("bert-base-uncased")

Downloading tokenizer_config.json:   0%|          | 0.00/48.0 [00:00<?, ?B/s]

In [7]:
dataset_entities = pd.read_csv("../data/labeled_entities/full_dataset_entities_labeled_dbp_yago_DBP.csv")
dataset_entities.drop('Unnamed: 0', axis=1, inplace=True)

In [10]:
def add_mention(ent_text, tab_id, text_lookup, dataset_entities):
    
    row_index = dataset_entities.index[dataset_entities['entity'] == text_lookup]

    if not row_index.empty:
        dataset_entities.loc[row_index, ['mention', 'table_id']] = [ent_text, tab_id]
        
    return dataset_entities

In [11]:
labels_dict = {"None":0,
"Activity": 1,
"Organisation": 2,
"ArchitecturalStructure":3,
"Event":4,
"Place":5,
"Person":6,
"Work":7,
}

In [12]:
dataset_entities['class'].unique()

array(['Activity', 'Organisation', 'ArchitecturalStructure', 'Event',
       'Place', 'Person', 'Work'], dtype=object)

In [13]:
nclass = dataset_entities['class'].to_numpy()
nwikidata_id = dataset_entities['wikidata_id'].to_numpy()
nentity = dataset_entities['entity'].to_numpy()

nlabels= list(zip(nclass,nwikidata_id))

In [16]:
np.where(nentity == "Germany")[0]
nlabels[41937]

('Place', 'Q183')

In [17]:
data_path = "../data/wiki_dbpedia_lvl_1_berttokenizerfast.json"

In [18]:
dataset_df = pd.read_json(data_path,lines=True)

In [19]:
len(dataset_df)

51293

In [20]:
dataset_df.head(2)

,_id,numCols,numDataRows,numHeaderRows,numericColumns,order,pgId,pgTitle,sectionTitle,tableCaption,tableData,tableHeaders,tableId,tableCaption_tokenized,tableCaption_input_ids
0,10004068-1,5,9,1,[0],0.448135,10004068,Red Bull BC One,Winners,Winners,"[[{'cellID': -1, 'textTokens': [], 'text': '20...","[[{'cellID': -1, 'textTokens': [], 'text': 'Ye...",1,[winners],[4791]
1,10004122-1,5,3,2,"[1, 4]",0.060823,10004122,Daniel Smith (cricketer),Career Best Performances,Career Best Performances,"[[{'cellID': -1, 'textTokens': [], 'text': 'FC...","[[{'cellID': -1, 'textTokens': [], 'text': '',...",1,"[career, best, performances]","[2476, 2190, 4616]"

In [21]:
len(dataset_df)

51293

In [ ]:
all_tables = []
weird_entities = {}
big_tables = 0
error_table = 0
with tqdm(total=51293) as progress:
    with pd.read_json(data_path, lines=True, chunksize=5000) as reader:
        for chunk in reader:
            for index, t in chunk.iterrows():   
    
                t = dataset_df.iloc[index]   

                new_table = []
                tableHeaders_cleaned = []
                tab_id = t["_id"]
                pg_Title = t["pgTitle"]
                section_Title = t["sectionTitle"]
                table_caption = t["tableCaption"]    
                tableHeaders = t["tableHeaders"]    
                table = t["tableData"]                    
                data_rows = [ r for r in table ]

                headers_cells = [h for h in tableHeaders][0]
                for c, head in enumerate(headers_cells):
                    tableHeaders_cleaned.append([[-1,c], head['text']])

                if len(data_rows)<50:

                    table_data = []  
                    row_labels = []
                    for i, row in enumerate(table):                            
                        for j, cell in enumerate(row):

                            per_cell_labels = []
                            cell_spans = []
                            table_data.append([[i,j],cell["text"]])

                           # first adding bio labels - this will also label tokens which don't have surfaceLinks

                            indices = [np.where(nentity == x["target"]["title"])[0] for x in cell['surfaceLinks']]
                            cell["labels"] = [nlabels[i[0]] if i.any() else (None,None) for i in indices]
                            tokens = tokenizer(cell['text'],add_special_tokens=False)
                            text_tokens = tokens.tokens()

                            surfaces = [tokenizer(cell['surfaceLinks'][i]['surface'],add_special_tokens=False).tokens() for i in range(len(cell['surfaceLinks']))]
                            mapped = convert_to_iob(text_tokens, surfaces, cell["labels"])

                            cell["mapped"] = mapped

                           # now adding the span-based labels for the linked entities

                            if len(cell['surfaceLinks']) > 0:
                                for k in range(len(cell['surfaceLinks'])):
                                    subcell_i = cell['surfaceLinks'][k]

                                    start_idx = subcell_i["offset"]
                                    end_idx = subcell_i["endOffset"]
                                    ent_text = subcell_i["surface"]
                                    text_lookup =  subcell_i["target"]["title"]                           
                            
                                    try: 
                                        span_search = re.search(ent_text, cell["text"])
                                        if span_search:
                                            token_start = span_search.span()[0]
                                            token_end = span_search.span()[1]
                                    except:
                                        token_start = start_idx
                                        token_end = end_idx
                                        weird_entities[ent_text] = (text_lookup, tab_id)                                            

                                    lookup_idx = np.where(nentity == text_lookup)[0]
                                    ent_label = nlabels[lookup_idx[0]] if lookup_idx.any() else (None,None)

                                    if ent_label[1]:
                                        add_mention(ent_text, tab_id, text_lookup, dataset_entities)

                                    if ent_label[0] in labels_dict:
                                        span_based_annotation = (i, j, token_start, token_end, labels_dict[ent_label[0]])
                                    else:
                                        span_based_annotation = (i, j, token_start, token_end, 0)           

                                    cell_spans.append(span_based_annotation)


                                cell["subcell_labels"] = cell_spans
                                per_cell_labels.append(cell_spans)
                                per_cell_labels.append(mapped)

                            if len(per_cell_labels)>0:
                                row_labels.append(per_cell_labels)                                    

                    new_table.append([tab_id,
                               pg_Title,
                               section_Title,
                               table_caption,
                               tableHeaders_cleaned,
                               table_data,
                               row_labels]
                               )
                    all_tables.append(new_table)       
                    progress.update()
                else:
                    big_table += 1

with open('../data/tables_NER_final.json', 'w') as f:
    json.dump(all_tables, f)

print(len(all_tables))
print("big_tables: ", big_tables)

 67%|███████████████████████████████████████████████████████████████████████████████████▏                                        | 34409/51293 [3:58:37<1:30:08,  3.12it/s]

In [20]:
len(all_tables)

NameError: name 'all_tables' is not defined

In [ ]:
all_tables = []
big_tables = 0
error_table = 0
with tqdm(total=51293) as progress:
    with pd.read_json(data_path, lines=True, chunksize=5000) as reader:
        for chunk in reader:
            for index, t in chunk.iterrows():   
                
                    t = dataset_df.iloc[index]

                    new_table = []
                    tableHeaders_cleaned = []
                    tab_id = t["_id"]
                    pg_Title = t["pgTitle"]
                    section_Title = t["sectionTitle"]
                    table_caption = t["tableCaption"]    
                    tableHeaders = t["tableHeaders"]    
                    table = t["tableData"]                    
                    data_rows = [ r for r in table ]
                    
                    headers_cells = [h for h in tableHeaders][0]
                    for c, head in enumerate(headers_cells):
                        tableHeaders_cleaned.append([[-1,c], head['text']])

                    if len(data_rows)<50:

                        table_data = []  
                        row_labels = []
                        for i, row in enumerate(table):                            
                            for j, cell in enumerate(row):
                                
                                per_cell_labels = []
                                cell_spans = []
                                table_data.append([[i,j],cell["text"]])
                                
                               # first adding bio labels - this will also label tokens which don't have surfaceLinks

                                indices = [np.where(nentity == x["target"]["title"])[0] for x in cell['surfaceLinks']]
                                cell["labels"] = [nlabels[i[0]] if i.any() else (None,None) for i in indices]
                                tokens = tokenizer(cell['text'],add_special_tokens=False)
                                text_tokens = tokens.tokens()

                                surfaces = [tokenizer(cell['surfaceLinks'][i]['surface'],add_special_tokens=False).tokens() for i in range(len(cell['surfaceLinks']))]
                                mapped = convert_to_iob(text_tokens, surfaces, cell["labels"])

                                cell["mapped"] = mapped
                                                                
                               # now adding the span-based labels for the linked entities
                            
                                if len(cell['surfaceLinks']) > 0:
                                    for k in range(len(cell['surfaceLinks'])):
                                        subcell_i = cell['surfaceLinks'][k]

                                        start_idx = subcell_i["offset"]
                                        end_idx = subcell_i["endOffset"]
                                        ent_text = subcell_i["surface"]
                                        text_lookup =  subcell_i["target"]["title"]


                                        lookup_idx = np.where(nentity == text_lookup)[0]
                                        ent_label = nlabels[lookup_idx[0]] if lookup_idx.any() else (None,None)
                                        
                                        if ent_label[1]:
                                            add_mention(ent_text, tab_id, text_lookup, dataset_entities)
                                        
                                        if ent_label[0] in labels_dict:
                                            span_based_annotation = (i, j, start_idx, end_idx, labels_dict[ent_label[0]])
                                        else:
                                            span_based_annotation = (i, j, start_idx, end_idx, 0)           

                                        cell_spans.append(span_based_annotation)
    
                                        
                                    cell["subcell_labels"] = cell_spans

                                    per_cell_labels.append(cell_spans)
                                    per_cell_labels.append(mapped)
                                    #per_cell_BIOlabels.append(mapped)
                                    
                                if len(per_cell_labels)>0:
                                    row_labels.append(per_cell_labels)                                    

                            #print(row_labels)

                        new_table.append([tab_id,
                                   pg_Title,
                                   section_Title,
                                   table_caption,
                                   tableHeaders_cleaned,
                                   table_data,
                                  # header_labels,
                                   row_labels]
                                   )
                        all_tables.append(new_table)
                        progress.update()
                    else:
                        big_table += 1
                        
with open('../data/final_NER_labeled_dataset.json', 'w') as f:
    json.dump(all_tables, f)

print(len(all_tables))
print("big_tables: ", big_tables)

In [27]:
len(all_tables)

51293

In [42]:
dataset_entities

,entity,class,wikidata_id,source,mention,table_id
0,Scrabble,Activity,Q170436,dbp,NaN,NaN
1,Spelljammer,Activity,Q1060172,dbp,Spelljammer,16407696-40
2,Monopoly_(game),Activity,Q17243,dbp,Monopoly,19187999-3
3,Cluedo,Activity,Q17245,dbp,Clue,19187999-3
4,Classic_BattleTech,Activity,Q5128099,dbp,Classic BattleTech,21390640-2
...,...,...,...,...,...,...
282316,1978_in_poetry,Work,Q4578439,yago,1978,5531029-2
282317,1977_in_poetry,Work,Q4577920,yago,1977,5531029-2
282318,1976_in_poetry,Work,Q4577415,yago,1976,5531029-2
282319,Os_Lusíadas,Work,Q781898,yago,Os Lusíadas,843347-15
282320,Nagarakretagama,Work,Q49335,yago,Nagarakretagama,9433220-17

In [43]:
dataset_entities.to_csv("../data/entities_gt.csv")

In [45]:
with open('../data/final_NER_labeled_dataset.csv', 'w') as f:
    json.dump(all_tables, f)

In [32]:
all_tables[200][0]

['10283729-4',
 '2010 IAAF World Indoor Championships',
 'Men',
 'Men',
 [[[-1, 0], 'Event'],
  [[-1, 1], 'Gold'],
  [[-1, 2], 'Gold'],
  [[-1, 3], 'Silver'],
  [[-1, 4], 'Silver'],
  [[-1, 5], 'Bronze'],
  [[-1, 6], 'Bronze']],
 [[[0, 0], '60 m details'],
  [[0, 1], 'Dwain Chambers Great Britain'],
  [[0, 2], '6.48 WL'],
  [[0, 3], 'Mike Rodgers United States'],
  [[0, 4], '6.53'],
  [[0, 5], 'Daniel Bailey Antigua and Barbuda'],
  [[0, 6], '6.57'],
  [[1, 0], '400 m details'],
  [[1, 1], 'Chris Brown Bahamas'],
  [[1, 2], '45.96 SB'],
  [[1, 3], 'William Collazo Cuba'],
  [[1, 4], '46.31 PB'],
  [[1, 5], 'Jamaal Torrance United States'],
  [[1, 6], '46.43'],
  [[2, 0], '800 m details'],
  [[2, 1], 'Abubaker Kaki Sudan'],
  [[2, 2], '1:46.23 SB'],
  [[2, 3], 'Boaz Kiplagat Lalang Kenya'],
  [[2, 4], '1:46.39'],
  [[2, 5], 'Adam Kszczot Poland'],
  [[2, 6], '1:46.69'],
  [[3, 0], '1500 m details'],
  [[3, 1], 'Deresse Mekonnen Ethiopia'],
  [[3, 2], '3:41.86'],
  [[3, 3], 'Abdalaati Iguider Morocco'],
  [[3, 4], '3:41.96'],
  [[3, 5], 'Haron Keitany Kenya'],
  [[3, 6], '3:42.32'],
  [[4, 0], '3000 m details'],
  [[4, 1], 'Bernard Lagat United States'],
  [[4, 2], '7:37.97 SB'],
  [[4, 3], 'Sergio Sanchez Spain'],
  [[4, 4], '7:39.55'],
  [[4, 5], 'Sammy Alex Mutahi Kenya'],
  [[4, 6], '7:39.90'],
  [[5, 0], '60 m hurdles details'],
  [[5, 1], 'Dayron Robles Cuba'],
  [[5, 2], '7.34 CR'],
  [[5, 3], 'Terrence Trammell United States'],
  [[5, 4], '7.36 NR'],
  [[5, 5], 'David Oliver United States'],
  [[5, 6], '7.44 PB'],
  [[6, 0], '4x400 m relay details'],
  [[6, 1],
   'United States Jamaal Torrance Greg Nixon Tavaris Tate Bershawn Jackson'],
  [[6, 2], '3:03.40 WL'],
  [[6, 3],
   'Belgium Cedric van Branteghem Kévin Borlée Antoine Gillet Jonathan Borlée'],
  [[6, 4], '3:06.94 NR'],
  [[6, 5],
   'Great Britain Conrad Williams Nigel Levine Christopher Clarke Richard Buck'],
  [[6, 6], '3:07.52 SB'],
  [[7, 0], 'High jump details'],
  [[7, 1], 'Ivan Ukhov Russia'],
  [[7, 2], '2.36'],
  [[7, 3], 'Yaroslav Rybakov Russia'],
  [[7, 4], '2.31'],
  [[7, 5], 'Dusty Jonas United States'],
  [[7, 6], '2.31'],
  [[8, 0], 'Pole vault details'],
  [[8, 1], 'Steven Hooker Australia'],
  [[8, 2], '6.01 CR'],
  [[8, 3], 'Malte Mohr Germany'],
  [[8, 4], '5.70'],
  [[8, 5], 'Alexander Straub Germany'],
  [[8, 6], '5.65'],
  [[9, 0], 'Long jump details'],
  [[9, 1], 'Fabrice Lapierre Australia'],
  [[9, 2], '8.17'],
  [[9, 3], 'Godfrey Khotso Mokoena South Africa'],
  [[9, 4], '8.08 SB'],
  [[9, 5], 'Mitchell Watt Australia'],
  [[9, 6], '8.05'],
  [[10, 0], 'Triple jump details'],
  [[10, 1], 'Teddy Tamgho France'],
  [[10, 2], '17.90 WR'],
  [[10, 3], 'Yoandris Betanzos Cuba'],
  [[10, 4], '17.69 PB'],
  [[10, 5], 'Arnie David Girat Cuba'],
  [[10, 6], '17.36 SB'],
  [[11, 0], 'Shot put details'],
  [[11, 1], 'Christian Cantwell United States'],
  [[11, 2], '21.83'],
  [[11, 3], 'Ralf Bartels Germany'],
  [[11, 4], '21.44 PB'],
  [[11, 5], 'Dylan Armstrong Canada'],
  [[11, 6], '21.39'],
  [[12, 0], 'Heptathlon details'],
  [[12, 1], 'Bryan Clay United States'],
  [[12, 2], '6204'],
  [[12, 3], 'Trey Hardee United States'],
  [[12, 4], '6184'],
  [[12, 5], 'Aleksey Drozdov Russia'],
  [[12, 6], '6141'],
  [[13, 0],
   'WRworldrecord | ARarearecord | CRchampionshiprecord | GRgamesrecord | NRnationalrecord | OROlympicrecord | PBpersonalbest | SBseasonbest | WLworldleading (in a given season)'],
  [[13, 1],
   'WRworldrecord | ARarearecord | CRchampionshiprecord | GRgamesrecord | NRnationalrecord | OROlympicrecord | PBpersonalbest | SBseasonbest | WLworldleading (in a given season)'],
  [[13, 2],
   'WRworldrecord | ARarearecord | CRchampionshiprecord | GRgamesrecord | NRnationalrecord | OROlympicrecord | PBpersonalbest | SBseasonbest | WLworldleading (in a given season)'],
  [[13, 3],
   'WRworldrecord | ARarearecord | CRchampionshiprecord | GRgamesrecord | NRnationalrecord | OROlympicrecord | PBpersonalbest | SBseasonbest | WLworldleading (in a given season)'],
  [[13, 4],
   'WRworldrecord | ARarearecord | CRchampionshiprecord | GRgamesrecord | NRnationalrecord | OROlympicrecord | PBpersonalbest | SBseasonbest | WLworldleading (in a given season)'],
  [[13, 5],
   'WRworldrecord | ARarearecord | CRchampionshiprecord | GRgamesrecord | NRnationalrecord | OROlympicrecord | PBpersonalbest | SBseasonbest | WLworldleading (in a given season)'],
  [[13, 6],
   'WRworldrecord | ARarearecord | CRchampionshiprecord | GRgamesrecord | NRnationalrecord | OROlympicrecord | PBpersonalbest | SBseasonbest | WLworldleading (in a given season)']],
 [[[(0, 0, 0, 4, 1), (0, 0, 5, 12, 4)],
   [('60', 'B-Activity'), ('m', 'I-Activity'), ('details', 'B-Event')]],
  [[(0, 1, 0, 14, 6), (0, 1, 15, 28, 5)],
   [('d', 'B-Person'),
    ('##wai', 'I-Person'),
    ('##n', 'I-Person'),
    ('chambers', 'I-Person'),
    ('great', 'B-Place'),
    ('britain', 'I-Place')]],
  [[(0, 3, 0, 12, 0), (0, 3, 13, 26, 5)],
   [('mike', 'O'),
    ('rodgers', 'O'),
    ('united', 'B-Place'),
    ('states', 'I-Place')]],
  [[(0, 5, 0, 13, 6), (0, 5, 14, 33, 5)],
   [('daniel', 'B-Person'),
    ('bailey', 'I-Person'),
    ('antigua', 'B-Place'),
    ('and', 'I-Place'),
    ('bar', 'I-Place'),
    ('##bu', 'I-Place'),
    ('##da', 'I-Place')]],
  [[(1, 0, 0, 5, 1), (1, 0, 6, 13, 4)],
   [('400', 'B-Activity'), ('m', 'I-Activity'), ('details', 'B-Event')]],
  [[(1, 1, 0, 11, 0), (1, 1, 12, 19, 5)],
   [('chris', 'O'), ('brown', 'O'), ('bahamas', 'B-Place')]],
  [[(1, 3, 0, 15, 6), (1, 3, 16, 20, 5)],
   [('william', 'B-Person'),
    ('col', 'I-Person'),
    ('##la', 'I-Person'),
    ('##zo', 'I-Person'),
    ('cuba', 'B-Place')]],
  [[(1, 5, 0, 15, 6), (1, 5, 16, 29, 5)],
   [('jam', 'B-Person'),
    ('##aa', 'I-Person'),
    ('##l', 'I-Person'),
    ('tor', 'I-Person'),
    ('##rance', 'I-Person'),
    ('united', 'B-Place'),
    ('states', 'I-Place')]],
  [[(2, 0, 0, 5, 1), (2, 0, 6, 13, 4)],
   [('800', 'B-Activity'), ('m', 'I-Activity'), ('details', 'B-Event')]],
  [[(2, 1, 0, 13, 0), (2, 1, 14, 19, 5)],
   [('abu', 'O'),
    ('##ba', 'O'),
    ('##ker', 'O'),
    ('ka', 'O'),
    ('##ki', 'O'),
    ('sudan', 'B-Place')]],
  [[(2, 3, 0, 20, 6), (2, 3, 21, 26, 5)],
   [('bo', 'B-Person'),
    ('##az', 'I-Person'),
    ('ki', 'I-Person'),
    ('##pl', 'I-Person'),
    ('##aga', 'I-Person'),
    ('##t', 'I-Person'),
    ('lal', 'I-Person'),
    ('##ang', 'I-Person'),
    ('kenya', 'B-Place')]],
  [[(2, 5, 0, 12, 6), (2, 5, 13, 19, 5)],
   [('adam', 'B-Person'),
    ('ks', 'I-Person'),
    ('##zcz', 'I-Person'),
    ('##ot', 'I-Person'),
    ('poland', 'B-Place')]],
  [[(3, 0, 0, 6, 1), (3, 0, 7, 14, 4)],
   [('1500', 'B-Activity'), ('m', 'I-Activity'), ('details', 'B-Event')]],
  [[(3, 1, 0, 16, 6), (3, 1, 17, 25, 5)],
   [('der', 'B-Person'),
    ('##ess', 'I-Person'),
    ('##e', 'I-Person'),
    ('me', 'I-Person'),
    ('##kon', 'I-Person'),
    ('##nen', 'I-Person'),
    ('ethiopia', 'B-Place')]],
  [[(3, 3, 0, 17, 6), (3, 3, 18, 25, 5)],
   [('abd', 'B-Person'),
    ('##ala', 'I-Person'),
    ('##ati', 'I-Person'),
    ('i', 'I-Person'),
    ('##guide', 'I-Person'),
    ('##r', 'I-Person'),
    ('morocco', 'B-Place')]],
  [[(3, 5, 0, 13, 6), (3, 5, 14, 19, 5)],
   [('ha', 'B-Person'),
    ('##ron', 'I-Person'),
    ('kei', 'I-Person'),
    ('##tan', 'I-Person'),
    ('##y', 'I-Person'),
    ('kenya', 'B-Place')]],
  [[(4, 0, 0, 6, 1), (4, 0, 7, 14, 4)],
   [('3000', 'B-Activity'), ('m', 'I-Activity'), ('details', 'B-Event')]],
  [[(4, 1, 0, 13, 6), (4, 1, 14, 27, 5)],
   [('bernard', 'B-Person'),
    ('la', 'I-Person'),
    ('##gat', 'I-Person'),
    ('united', 'B-Place'),
    ('states', 'I-Place')]],
  [[(4, 3, 0, 14, 0), (4, 3, 15, 20, 5)],
   [('sergio', 'O'), ('sanchez', 'O'), ('spain', 'B-Place')]],
  [[(4, 5, 0, 17, 6), (4, 5, 18, 23, 5)],
   [('sammy', 'B-Person'),
    ('alex', 'I-Person'),
    ('mu', 'I-Person'),
    ('##ta', 'I-Person'),
    ('##hi', 'I-Person'),
    ('kenya', 'B-Place')]],
  [[(5, 0, 0, 12, 1), (5, 0, 13, 20, 4)],
   [('60', 'B-Activity'),
    ('m', 'I-Activity'),
    ('hurdles', 'I-Activity'),
    ('details', 'B-Event')]],
  [[(5, 1, 0, 13, 6), (5, 1, 14, 18, 5)],
   [('day', 'B-Person'),
    ('##ron', 'I-Person'),
    ('rob', 'I-Person'),
    ('##les', 'I-Person'),
    ('cuba', 'B-Place')]],
  [[(5, 3, 0, 17, 6), (5, 3, 18, 31, 5)],
   [('terre', 'B-Person'),
    ('##nce', 'I-Person'),
    ('tram', 'I-Person'),
    ('##mel', 'I-Person'),
    ('##l', 'I-Person'),
    ('united', 'B-Place'),
    ('states', 'I-Place')]],
  [[(5, 5, 0, 12, 0), (5, 5, 13, 26, 5)],
   [('david', 'O'),
    ('oliver', 'O'),
    ('united', 'B-Place'),
    ('states', 'I-Place')]],
  [[(6, 0, 0, 13, 0), (6, 0, 14, 21, 4)],
   [('4', 'O'),
    ('##x', 'O'),
    ('##400', 'O'),
    ('m', 'O'),
    ('relay', 'O'),
    ('details', 'B-Event')]],
  [[(6, 1, 0, 13, 5),
    (6, 1, 14, 29, 6),
    (6, 1, 17, 27, 6),
    (6, 1, 12, 24, 6),
    (6, 1, 14, 30, 6)],
   [('united', 'B-Place'),
    ('states', 'I-Place'),
    ('jam', 'B-Person'),
    ('##aa', 'I-Person'),
    ('##l', 'I-Person'),
    ('tor', 'I-Person'),
    ('##rance', 'I-Person'),
    ('greg', 'B-Person'),
    ('nixon', 'I-Person'),
    ('ta', 'B-Person'),
    ('##var', 'I-Person'),
    ('##is', 'I-Person'),
    ('tate', 'I-Person'),
    ('be', 'B-Person'),
    ('##rs', 'I-Person'),
    ('##haw', 'I-Person'),
    ('##n', 'I-Person'),
    ('jackson', 'I-Person')]],
  [[(6, 3, 0, 7, 5),
    (6, 3, 8, 29, 0),
    (6, 3, 23, 35, 0),
    (6, 3, 14, 28, 6),
    (6, 3, 16, 31, 6)],
   [('belgium', 'B-Place'),
    ('cedric', 'O'),
    ('van', 'O'),
    ('brant', 'O'),
    ('##eg', 'O'),
    ('##hem', 'O'),
    ('kevin', 'O'),
    ('bo', 'O'),
    ('##rle', 'O'),
    ('##e', 'O'),
    ('antoine', 'B-Person'),
    ('gill', 'I-Person'),
    ('##et', 'I-Person'),
    ('jonathan', 'B-Person'),
    ('bo', 'I-Person'),
    ('##rle', 'I-Person'),
    ('##e', 'I-Person')]],
  [[(6, 5, 0, 13, 5),
    (6, 5, 14, 29, 6),
    (6, 5, 17, 29, 6),
    (6, 5, 14, 32, 0),
    (6, 5, 20, 32, 6)],
   [('great', 'B-Place'),
    ('britain', 'I-Place'),
    ('conrad', 'B-Person'),
    ('williams', 'I-Person'),
    ('nigel', 'B-Person'),
    ('levine', 'I-Person'),
    ('christopher', 'O'),
    ('clarke', 'O'),
    ('richard', 'B-Person'),
    ('buck', 'I-Person')]],
  [[(7, 0, 0, 9, 0), (7, 0, 10, 17, 4)],
   [('high', 'O'), ('jump', 'O'), ('details', 'B-Event')]],
  [[(7, 1, 0, 10, 6), (7, 1, 11, 17, 5)],
   [('ivan', 'B-Person'),
    ('uk', 'I-Person'),
    ('##ho', 'I-Person'),
    ('##v', 'I-Person'),
    ('russia', 'B-Place')]],
  [[(7, 3, 0, 16, 6), (7, 3, 17, 23, 5)],
   [('ya', 'B-Person'),
    ('##ros', 'I-Person'),
    ('##lav', 'I-Person'),
    ('ry', 'I-Person'),
    ('##ba', 'I-Person'),
    ('##kov', 'I-Person'),
    ('russia', 'B-Place')]],
  [[(7, 5, 0, 11, 6), (7, 5, 12, 25, 5)],
   [('dusty', 'B-Person'),
    ('jonas', 'I-Person'),
    ('united', 'B-Place'),
    ('states', 'I-Place')]],
  [[(8, 0, 0, 10, 0), (8, 0, 11, 18, 4)],
   [('pole', 'O'), ('vault', 'O'), ('details', 'B-Event')]],
  [[(8, 1, 0, 13, 0), (8, 1, 14, 23, 5)],
   [('steven', 'O'), ('hooker', 'O'), ('australia', 'B-Place')]],
  [[(8, 3, 0, 10, 6), (8, 3, 11, 18, 5)],
   [('mal', 'B-Person'),
    ('##te', 'I-Person'),
    ('mo', 'I-Person'),
    ('##hr', 'I-Person'),
    ('germany', 'B-Place')]],
  [[(8, 5, 0, 16, 6), (8, 5, 17, 24, 5)],
   [('alexander', 'B-Person'),
    ('st', 'I-Person'),
    ('##ra', 'I-Person'),
    ('##ub', 'I-Person'),
    ('germany', 'B-Place')]],
  [[(9, 0, 0, 9, 0), (9, 0, 10, 17, 4)],
   [('long', 'O'), ('jump', 'O'), ('details', 'B-Event')]],
  [[(9, 1, 0, 16, 6), (9, 1, 17, 26, 5)],
   [('fabric', 'B-Person'),
    ('##e', 'I-Person'),
    ('lap', 'I-Person'),
    ('##ier', 'I-Person'),
    ('##re', 'I-Person'),
    ('australia', 'B-Place')]],
  [[(9, 3, 0, 22, 6), (9, 3, 23, 35, 5)],
   [('godfrey', 'B-Person'),
    ('k', 'I-Person'),
    ('##hot', 'I-Person'),
    ('##so', 'I-Person'),
    ('mo', 'I-Person'),
    ('##ko', 'I-Person'),
    ('##ena', 'I-Person'),
    ('south', 'B-Place'),
    ('africa', 'I-Place')]],
  [[(9, 5, 0, 13, 6), (9, 5, 14, 23, 5)],
   [('mitchell', 'B-Person'), ('watt', 'I-Person'), ('australia', 'B-Place')]],
  [[(10, 0, 0, 11, 0), (10, 0, 12, 19, 4)],
   [('triple', 'O'), ('jump', 'O'), ('details', 'B-Event')]],
  [[(10, 1, 0, 12, 6), (10, 1, 13, 19, 5)],
   [('teddy', 'B-Person'),
    ('tam', 'I-Person'),
    ('##gh', 'I-Person'),
    ('##o', 'I-Person'),
    ('france', 'B-Place')]],
  [[(10, 3, 0, 17, 0), (10, 3, 18, 22, 5)],
   [('yo', 'O'),
    ('##and', 'O'),
    ('##ris', 'O'),
    ('beta', 'O'),
    ('##nzo', 'O'),
    ('##s', 'O'),
    ('cuba', 'B-Place')]],
  [[(10, 5, 0, 17, 0), (10, 5, 18, 22, 5)],
   [('ar', 'O'),
    ('##nie', 'O'),
    ('david', 'O'),
    ('gi', 'O'),
    ('##rat', 'O'),
    ('cuba', 'B-Place')]],
  [[(11, 0, 0, 8, 0), (11, 0, 9, 16, 4)],
   [('shot', 'O'), ('put', 'O'), ('details', 'B-Event')]],
  [[(11, 1, 0, 18, 6), (11, 1, 19, 32, 5)],
   [('christian', 'B-Person'),
    ('can', 'I-Person'),
    ('##t', 'I-Person'),
    ('##well', 'I-Person'),
    ('united', 'B-Place'),
    ('states', 'I-Place')]],
  [[(11, 3, 0, 12, 6), (11, 3, 13, 20, 5)],
   [('ra', 'B-Person'),
    ('##lf', 'I-Person'),
    ('bart', 'I-Person'),
    ('##els', 'I-Person'),
    ('germany', 'B-Place')]],
  [[(11, 5, 0, 15, 6), (11, 5, 16, 22, 5)],
   [('dylan', 'B-Person'), ('armstrong', 'I-Person'), ('canada', 'B-Place')]],
  [[(12, 0, 0, 10, 1), (12, 0, 11, 18, 4)],
   [('he', 'B-Activity'),
    ('##pta', 'I-Activity'),
    ('##th', 'I-Activity'),
    ('##lon', 'I-Activity'),
    ('details', 'B-Event')]],
  [[(12, 1, 0, 10, 6), (12, 1, 11, 24, 5)],
   [('bryan', 'B-Person'),
    ('clay', 'I-Person'),
    ('united', 'B-Place'),
    ('states', 'I-Place')]],
  [[(12, 3, 0, 11, 6), (12, 3, 12, 25, 5)],
   [('trey', 'B-Person'),
    ('hard', 'I-Person'),
    ('##ee', 'I-Person'),
    ('united', 'B-Place'),
    ('states', 'I-Place')]],
  [[(12, 5, 0, 15, 6), (12, 5, 16, 22, 5)],
   [('ale', 'B-Person'),
    ('##ks', 'I-Person'),
    ('##ey', 'I-Person'),
    ('dr', 'I-Person'),
    ('##oz', 'I-Person'),
    ('##do', 'I-Person'),
    ('##v', 'I-Person'),
    ('russia', 'B-Place')]]]]

In [135]:
with open('ner_annotated_tables.json', 'w') as f:
    json.dump(all_tables, f)

In [20]:
with open('../data/final_NER_labeled_dataset_correct.json', 'r') as f:
    dataset = json.load(f)#[0]

In [222]:
len(dataset)

51293

In [212]:
ex

[['10287348-12',
  'Live Audio Wrestling',
  'End of Year Awards',
  'End of Year Awards',
  [[[-1, 0], 'Year'],
   [[-1, 1], 'Dan Lovranski'],
   [[-1, 2], 'Jason Agnew'],
   [[-1, 3], 'John Pollock'],
   [[-1, 4], 'Wai Ting']],
  [[[0, 0], '2008'],
   [[0, 1], 'Shawn Michaels vs. Ric Flair ( WrestleMania XXIV )'],
   [[0, 2],
    'Samoa Joe vs. Kurt Angle ( TNA Lockdown ) Shawn Michaels vs. Ric Flair ( WrestleMania XXIV ) (honorable mention)'],
   [[0, 3], 'Samoa Joe vs. Kurt Angle ( TNA Lockdown )'],
   [[0, 4], ''],
   [[1, 0], '2009'],
   [[1, 1], 'Edge vs. Jeff Hardy ( WWE Extreme Rules )'],
   [[1, 2],
    'Chris Jericho vs. Rey Mysterio ( WWE The Bash ) Edge vs. Jeff Hardy ( WWE Extreme Rules )'],
   [[1, 3], 'The Undertaker vs. Shawn Michaels ( WrestleMania XXV )'],
   [[1, 4], ''],
   [[2, 0], '2010'],
   [[2, 1], 'The Undertaker vs. Shawn Michaels ( WrestleMania XXVI )'],
   [[2, 2],
    'Daniel Bryan vs. Dolph Ziggler ( WWE Bragging Rights ) The Undertaker vs. Shawn Michaels ( WrestleMania XXVI ) (honorable mention)'],
   [[2, 3],
    'Tyler Black vs. Davey Richards ( ROH Death Before Dishonor VIII)'],
   [[2, 4], ''],
   [[3, 0], '2011'],
   [[3, 1],
    'John Cena vs. CM Punk ( WWE Money in the Bank ) Davey Richards vs. Eddie Edwards ( ROH Best in the World ) (honorable mention)'],
   [[3, 2],
    'John Cena vs. CM Punk ( WWE Money in the Bank ) Dolph Ziggler vs. Randy Orton ( WWE Raw )'],
   [[3, 3], 'Davey Richards vs. Eddie Edwards ( ROH Best in the World )'],
   [[3, 4], ''],
   [[4, 0], '2012'],
   [[4, 1], 'Davey Richards vs. Michael Elgin ( Showdown in the Sun )'],
   [[4, 2], 'Brock Lesnar vs. John Cena ( WWE Extreme Rules )'],
   [[4, 3], 'The Undertaker vs Triple H ( WrestleMania 28 )'],
   [[4, 4], 'The Undertaker vs Triple H ( WrestleMania 28 )']],
  [[[[0, 1, 0, 14, 6], [0, 1, 19, 28, 6], [0, 1, 31, 48, 4]],
    [['shawn', 'B-Person'],
     ['michaels', 'I-Person'],
     ['vs', 'O'],
     ['.', 'O'],
     ['ric', 'B-Person'],
     ['flair', 'I-Person'],
     ['(', 'O'],
     ['wrestlemania', 'B-Event'],
     ['xx', 'I-Event'],
     ['##iv', 'I-Event'],
     [')', 'O']]],
   [[[0, 2, 0, 9, 6],
     [0, 2, 14, 24, 6],
     [0, 2, 27, 39, 2],
     [0, 2, 42, 56, 6],
     [0, 2, 61, 70, 6],
     [0, 2, 73, 90, 4]],
    [['samoa', 'B-Person'],
     ['joe', 'I-Person'],
     ['vs', 'O'],
     ['.', 'O'],
     ['kurt', 'B-Person'],
     ['angle', 'I-Person'],
     ['(', 'O'],
     ['tna', 'B-Organisation'],
     ['lock', 'I-Organisation'],
     ['##down', 'I-Organisation'],
     [')', 'O'],
     ['shawn', 'B-Person'],
     ['michaels', 'I-Person'],
     ['vs', 'O'],
     ['.', 'O'],
     ['ric', 'B-Person'],
     ['flair', 'I-Person'],
     ['(', 'O'],
     ['wrestlemania', 'B-Event'],
     ['xx', 'I-Event'],
     ['##iv', 'I-Event'],
     [')', 'O'],
     ['(', 'O'],
     ['honorable', 'O'],
     ['mention', 'O'],
     [')', 'O']]],
   [[[0, 3, 0, 9, 6], [0, 3, 14, 24, 6], [0, 3, 27, 39, 2]],
    [['samoa', 'B-Person'],
     ['joe', 'I-Person'],
     ['vs', 'O'],
     ['.', 'O'],
     ['kurt', 'B-Person'],
     ['angle', 'I-Person'],
     ['(', 'O'],
     ['tna', 'B-Organisation'],
     ['lock', 'I-Organisation'],
     ['##down', 'I-Organisation'],
     [')', 'O']]],
   [[[1, 1, 0, 4, 6], [1, 1, 9, 19, 6], [1, 1, 22, 39, 2]],
    [['edge', 'B-Person'],
     ['vs', 'O'],
     ['.', 'O'],
     ['jeff', 'B-Person'],
     ['hardy', 'I-Person'],
     ['(', 'O'],
     ['wwe', 'B-Organisation'],
     ['extreme', 'I-Organisation'],
     ['rules', 'I-Organisation'],
     [')', 'O']]],
   [[[1, 2, 0, 13, 6],
     [1, 2, 18, 30, 6],
     [1, 2, 33, 45, 4],
     [1, 2, 48, 52, 6],
     [1, 2, 57, 67, 6],
     [1, 2, 70, 87, 2]],
    [['chris', 'B-Person'],
     ['jericho', 'I-Person'],
     ['vs', 'O'],
     ['.', 'O'],
     ['rey', 'B-Person'],
     ['my', 'I-Person'],
     ['##ster', 'I-Person'],
     ['##io', 'I-Person'],
     ['(', 'O'],
     ['wwe', 'B-Event'],
     ['the', 'I-Event'],
     ['bash', 'I-Event'],
     [')', 'O'],
     ['edge', 'B-Person'],
     ['vs', 'O'],
     ['.', 'O'],
     ['jeff', 'B-Person'],
     ['hardy', 'I-Person'],
     ['(', 'O'],
     ['wwe', 'B-Organisation'],
     ['extreme', 'I-Organisation'],
     ['rules', 'I-Organisation'],
     [')', 'O']]],
   [[[1, 3, 0, 14, 6], [1, 3, 19, 33, 6], [1, 3, 36, 52, 1]],
    [['the', 'B-Person'],
     ['undertaker', 'I-Person'],
     ['vs', 'O'],
     ['.', 'O'],
     ['shawn', 'B-Person'],
     ['michaels', 'I-Person'],
     ['(', 'O'],
     ['wrestlemania', 'B-Activity'],
     ['xx', 'I-Activity'],
     ['##v', 'I-Activity'],
     [')', 'O']]],
   [[[2, 1, 0, 14, 6], [2, 1, 19, 33, 6], [2, 1, 22, 39, 1]],
    [['the', 'B-Person'],
     ['undertaker', 'I-Person'],
     ['vs', 'O'],
     ['.', 'O'],
     ['shawn', 'B-Person'],
     ['michaels', 'I-Person'],
     ['(', 'O'],
     ['wrestlemania', 'B-Activity'],
     ['xx', 'I-Activity'],
     ['##vi', 'I-Activity'],
     [')', 'O']]],
   [[[2, 2, 0, 12, 6],
     [2, 2, 17, 30, 6],
     [2, 2, 33, 52, 2],
     [2, 2, 55, 69, 6],
     [2, 2, 74, 88, 6],
     [2, 2, 22, 39, 1]],
    [['daniel', 'B-Person'],
     ['bryan', 'I-Person'],
     ['vs', 'O'],
     ['.', 'O'],
     ['do', 'B-Person'],
     ['##lp', 'I-Person'],
     ['##h', 'I-Person'],
     ['z', 'I-Person'],
     ['##ig', 'I-Person'],
     ['##gler', 'I-Person'],
     ['(', 'O'],
     ['wwe', 'B-Organisation'],
     ['bragg', 'I-Organisation'],
     ['##ing', 'I-Organisation'],
     ['rights', 'I-Organisation'],
     [')', 'O'],
     ['the', 'B-Person'],
     ['undertaker', 'I-Person'],
     ['vs', 'O'],
     ['.', 'O'],
     ['shawn', 'B-Person'],
     ['michaels', 'I-Person'],
     ['(', 'O'],
     ['wrestlemania', 'B-Activity'],
     ['xx', 'I-Activity'],
     ['##vi', 'I-Activity'],
     [')', 'O'],
     ['(', 'O'],
     ['honorable', 'O'],
     ['mention', 'O'],
     [')', 'O']]],
   [[[2, 3, 0, 11, 0], [2, 3, 16, 30, 6], [2, 3, 33, 58, 0]],
    [['tyler', 'O'],
     ['black', 'O'],
     ['vs', 'O'],
     ['.', 'O'],
     ['davey', 'B-Person'],
     ['richards', 'I-Person'],
     ['(', 'O'],
     ['ro', 'O'],
     ['##h', 'O'],
     ['death', 'O'],
     ['before', 'O'],
     ['dish', 'O'],
     ['##ono', 'O'],
     ['##r', 'O'],
     ['viii', 'O'],
     [')', 'O']]],
   [[[3, 1, 0, 9, 6],
     [3, 1, 14, 21, 6],
     [3, 1, 24, 45, 2],
     [3, 1, 48, 62, 6],
     [3, 1, 67, 80, 6],
     [3, 1, 83, 104, 0]],
    [['john', 'B-Person'],
     ['ce', 'I-Person'],
     ['##na', 'I-Person'],
     ['vs', 'O'],
     ['.', 'O'],
     ['cm', 'B-Person'],
     ['punk', 'I-Person'],
     ['(', 'O'],
     ['wwe', 'B-Organisation'],
     ['money', 'I-Organisation'],
     ['in', 'I-Organisation'],
     ['the', 'I-Organisation'],
     ['bank', 'I-Organisation'],
     [')', 'O'],
     ['davey', 'B-Person'],
     ['richards', 'I-Person'],
     ['vs', 'O'],
     ['.', 'O'],
     ['eddie', 'B-Person'],
     ['edwards', 'I-Person'],
     ['(', 'O'],
     ['ro', 'O'],
     ['##h', 'O'],
     ['best', 'O'],
     ['in', 'O'],
     ['the', 'O'],
     ['world', 'O'],
     [')', 'O'],
     ['(', 'O'],
     ['honorable', 'O'],
     ['mention', 'O'],
     [')', 'O']]],
   [[[3, 2, 0, 9, 6],
     [3, 2, 14, 21, 6],
     [3, 2, 24, 45, 2],
     [3, 2, 48, 61, 6],
     [3, 2, 66, 77, 6],
     [3, 2, 19, 26, 1]],
    [['john', 'B-Person'],
     ['ce', 'I-Person'],
     ['##na', 'I-Person'],
     ['vs', 'O'],
     ['.', 'O'],
     ['cm', 'B-Person'],
     ['punk', 'I-Person'],
     ['(', 'O'],
     ['wwe', 'B-Organisation'],
     ['money', 'I-Organisation'],
     ['in', 'I-Organisation'],
     ['the', 'I-Organisation'],
     ['bank', 'I-Organisation'],
     [')', 'O'],
     ['do', 'B-Person'],
     ['##lp', 'I-Person'],
     ['##h', 'I-Person'],
     ['z', 'I-Person'],
     ['##ig', 'I-Person'],
     ['##gler', 'I-Person'],
     ['vs', 'O'],
     ['.', 'O'],
     ['randy', 'B-Person'],
     ['orton', 'I-Person'],
     ['(', 'O'],
     ['wwe', 'B-Activity'],
     ['raw', 'I-Activity'],
     [')', 'O']]],
   [[[3, 3, 0, 14, 6], [3, 3, 19, 32, 6], [3, 3, 35, 56, 0]],
    [['davey', 'B-Person'],
     ['richards', 'I-Person'],
     ['vs', 'O'],
     ['.', 'O'],
     ['eddie', 'B-Person'],
     ['edwards', 'I-Person'],
     ['(', 'O'],
     ['ro', 'O'],
     ['##h', 'O'],
     ['best', 'O'],
     ['in', 'O'],
     ['the', 'O'],
     ['world', 'O'],
     [')', 'O']]],
   [[[4, 1, 0, 14, 6], [4, 1, 19, 32, 6], [4, 1, 21, 40, 1]],
    [['davey', 'B-Person'],
     ['richards', 'I-Person'],
     ['vs', 'O'],
     ['.', 'O'],
     ['michael', 'B-Person'],
     ['elgin', 'I-Person'],
     ['(', 'O'],
     ['showdown', 'B-Activity'],
     ['in', 'I-Activity'],
     ['the', 'I-Activity'],
     ['sun', 'I-Activity'],
     [')', 'O']]],
   [[[4, 2, 0, 12, 6], [4, 2, 17, 26, 6], [4, 2, 29, 46, 2]],
    [['brock', 'B-Person'],
     ['les', 'I-Person'],
     ['##nar', 'I-Person'],
     ['vs', 'O'],
     ['.', 'O'],
     ['john', 'B-Person'],
     ['ce', 'I-Person'],
     ['##na', 'I-Person'],
     ['(', 'O'],
     ['wwe', 'B-Organisation'],
     ['extreme', 'I-Organisation'],
     ['rules', 'I-Organisation'],
     [')', 'O']]],
   [[[4, 3, 0, 14, 6], [4, 3, 18, 26, 6], [4, 3, 29, 44, 0]],
    [['the', 'B-Person'],
     ['undertaker', 'I-Person'],
     ['vs', 'O'],
     ['triple', 'B-Person'],
     ['h', 'I-Person'],
     ['(', 'O'],
     ['wrestlemania', 'O'],
     ['28', 'O'],
     [')', 'O']]],
   [[[4, 4, 0, 14, 6], [4, 4, 18, 26, 6], [4, 4, 29, 44, 0]],
    [['the', 'B-Person'],
     ['undertaker', 'I-Person'],
     ['vs', 'O'],
     ['triple', 'B-Person'],
     ['h', 'I-Person'],
     ['(', 'O'],
     ['wrestlemania', 'O'],
     ['28', 'O'],
     [')', 'O']]]]]]

In [218]:
a = 'Samoa Joe vs. Kurt Angle ( TNA Lockdown ) Shawn Michaels vs. Ric Flair ( WrestleMania XXIV ) (honorable mention)'

In [220]:
span_search = re.search("Ric Flair", a)
if span_search:
    print(span_search.span()[0])
    print(span_search.span()[1])

61
70

In [ ]:
# save new span-based per table, per row

In [155]:
example

{(1, 2, 60, 73, 0): (1, 2, 74, 87, 0),
 (4, 2, 171, 182, 6): (4, 2, 205, 216, 6),
 (5, 0, 0, 1, 6): (5, 0, 0, 19, 6),
 (5, 2, 33, 52, 0): (5, 2, 54, 73, 0),
 (5, 2, 52, 67, 0): (5, 2, 85, 100, 0),
 (5, 2, 249, 262, 0): (5, 2, 322, 335, 0),
 (6, 2, 60, 77, 2): (6, 2, 71, 88, 2),
 (10, 2, 30, 47, 1): (10, 2, 143, 160, 1),
 (11, 2, 142, 147, 0): (11, 2, 170, 175, 0),
 (12, 2, 130, 181, 0): (12, 2, 143, 194, 0)}